name: Anchor

on: [push, pull_request]

jobs:
  build:
    name: Anchor test
    runs-on: ubuntu-latest

    env:
      CARGO_TERM_COLOR: always

    steps:
      - uses: actions/checkout@v3
      - uses: ./
        with:
          solana-version: v1.16.18
          anchor-version: v0.28.0
          setup-node: 20
          workspace: "tests/anchor"

      - name: Anchor build & test
        run: |
          solana --version | grep 1.16.18
          anchor --version | grep 0.28.0
          cd tests/anchor
          anchor build
          anchor test --skip-lint
