name: Bpf-test

on: [push, pull_request]

jobs:
  native:
    name: Native test
    runs-on: ubuntu-latest

    env:
      CARGO_TERM_COLOR: always

    steps:
      - uses: actions/checkout@v3
      - uses: ./
        with:
          solana-version: v1.17.34
          rust-version: 1.74.1
          workspace: "tests/test-bpf"

      - name: Host test
        run: |
          cd tests/test-bpf
          cargo build
          cargo test

  bpf:
    name: Bpf tests
    runs-on: ubuntu-latest

    env:
      CARGO_TERM_COLOR: always

    steps:
      - uses: actions/checkout@v3
      - uses: ./
        with:
          solana-version: v1.17.34
          rust-version: 1.74.1
          workspace: "tests/test-bpf"

      - name: Bpf test
        run: |
          cd tests/test-bpf
          cargo build-bpf
          cargo test-bpf
